{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Reservar {{ tipo_inmueble }}</h2>

<form id="formulario-reserva" method="POST">
    {% csrf_token %}
    <input type="hidden" id="tipo-inmueble" value="{{ tipo_inmueble }}">
    
    <!-- errores generales -->
    {{ form.as_p }}

    <div>
        <label>Máximo de inquilinos: {{ cant_inquilino }}</label>
    </div>

    <div id="container-persona" data-max="{{ cant_inquilino }}">
        <div class="persona">
            <input type="text" name="nombre" placeholder="ADMIN no tiene nombre" value="{{ usuario.first_name }}" readonly>
            <input type="number" name="edad" placeholder="Edad">
            <input type="text" name="dni" placeholder="ADMIN no tiene DNI" value="{{ usuario.dni }}" readonly>
        </div>
        <!-- Acá se insertan los inquilinos -->
    </div>

    <button type="button" id="agregar-persona">+ Agregar inquilino</button>

    <input type="hidden" name="datos_inquilinos" id="datos-inquilinos-hidden">

    <button type="submit">Enviar reserva</button>
</form>

<!-- Plantilla para clon -->
<div id="formulario-persona-plantilla" style="display: none;">
    <div class="persona">
        <input type="text" name="nombre" placeholder="Nombre completo">
        <input type="number" name="edad" placeholder="Edad">
        <input type="text" name="dni" placeholder="DNI">
        <button type="button" class="eliminar-persona">Eliminar</button>
    </div>
</div>

<script src="{% static 'js/solicitar_reserva.js' %}"></script>
{% endblock %}