{% extends 'base.html' %}

{% load static %} 
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
             {% csrf_token %}
             {{ form }}
         <label for="metodo_pago">Método de Pago:</label>
      <select name="metodo_pago" id="metodo_pago">
          <option value="efectivo">Efectivo</option>
          <option value="transferencia bancaria">Transferencia Bancaria</option>
          <option value="mercado pago">Mercado Pago</option>
          <option value="tarjeta">Tarjeta de crédito/débito</option>
        </select>
    <div id="container-persona">
    </div>
    <button id="agregar-persona" type="button"> + </button>
    <button id="continuar-reserva" type="button"> Continuar reserva </button>
</form>
        <div id="container-widget" data-inmueble-id="{{ inmueble_id }}" data-cant-personas="{{ cant_personas }}">
    </div>

    <!-- Plantilla oculta para inquilino -->
    <div id="formulario-persona-plantilla" style="display: none;">
        <div class="persona" data-n="">
            <input type="text" name="nombre" placeholder="Nombre completo">
            <input type="number" name="edad" placeholder="Edad">
            <input type="text" name="dni" placeholder="DNI">
            <button type="button" class="eliminar-persona">Eliminar</button>
        </div>
    </div>
    <script 
        src="{% static 'js/solicitar_reserva.js' %}">
    </script>
{% endblock %}
