<table border="1">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Método de pago</th>
            <th>Estado</th>
            <th>Acciones</th> <!-- Nueva columna -->
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.usuario.username }}</td>
                <td>{{ reserva.fecha_inicio }}</td>
                <td>{{ reserva.fecha_fin }}</td>
                <td>{{ reserva.metodo_pago }}</td>
                <td>{{ reserva.get_estado_display }}</td>
                <td>
                    {% if puede_cambiar_estado and reserva.estado == 'pendiente' %}
                        <form method="post" action="{% url 'cambiar_estado_reserva' reserva.id %}" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="inmueble_id" value="{{ inmueble.id }}">
                            <select name="nuevo_estado" required>
                                <option value="aceptada">Aceptar</option>
                                <option value="rechazada">Rechazar</option>
                            </select>
                            <button type="submit">Cambiar</button>
                        </form>
                     {% elif reserva.usuario == user %}
                           {% if reserva.estado == 'pendiente_pago' %}
                              <!-- Botón pagar -->
                              <form method="post" action="{% url 'pagar_reserva' reserva.id %}" style="display:inline;">
                                 {% csrf_token %}
                                 <button type="submit">Pagar</button>
                              </form>
                            {% endif %}

                            {% if reserva.estado in estados_cancelables %}
                               <!-- Botón cancelar -->
                              <form method="post" action="{% url 'cancelar_reserva' reserva.id %}" style="display:inline;">
                                 {% csrf_token %}
                                 <button type="submit" onclick="return confirm('¿Querés cancelar esta reserva?')">Cancelar</button>
                              </form>
                            {% endif %}
                    {% else %}
                        <!-- Sin acciones disponibles -->
                        -
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No hay reservas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
