{% extends 'base.html' %}

{% block content %}
<h2>Empleados Registrados</h2>
<table>
  <thead>
    <tr>
      <th>Nombre de Usuario</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
        <td>
            <a href="{% url 'detalle-empleado' empleado.id %}">
              {{ empleado.username }}
            </a>
          </td>
      <td>
        <a href="{% url 'detalle-empleado' empleado.id %}">
          {{ empleado.email }}
        </a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="2">No hay empleados registrados.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}