{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Empleados Registrados</h2>

<table>
  <thead>
    <tr>
      <th>Nombre de Usuario</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <td>{{ empleado.username }}</td>
      <td>{{ empleado.email }}</td>
      <td style="display: flex; gap: 10px;">
        <a href="{% url 'detalle-empleado' empleado.id %}">
          <button style="padding: 6px 12px; background-color: #3e5190; color: white; border: none; border-radius: 6px; cursor: pointer;">
            Ver Perfil
          </button>
        </a>

        {% if empleado.is_active %}
        <form method="post" action="{% url 'baja_empleado' empleado.id %}">
          {% csrf_token %}
          <a href="{% url 'baja_empleado' empleado.id %}">
            <button type="submit"
          style="padding: 6px 12px; background-color: #dc2626; color: white; border: none; border-radius: 6px; cursor: pointer;">
              Dar de baja
          </button>
        </a>
        </form>
        {% else %}
          <span style="color: red; font-weight: bold;">Inactivo</span>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No hay empleados registrados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
