

{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
<div class="login-container">
    <form method="post" class="login-form">
        {% csrf_token %}
        <h2>Iniciar Sesión</h2>
        
        <label for="username">Nombre de Usuario</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Iniciar Sesión</button>

        <p class="register-link">
            ¿No tenés cuenta? <a href="/usuarios/registro">Registrate acá</a>
        </p>

        {% for message in messages %}
            <p class="error-message">{{ message }}</p>
        {% endfor %}
    </form>
</div>
{% endblock %}
