

{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="{% static 'styles/registro.css' %}">
</head>
<body>
  <div class="login-container">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text" name="username" placeholder="Introduce tu nombre de usuario" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" placeholder="Introduce tu contraseña" required>
      </div>

      <button type="submit">Iniciar sesión</button>

      {% for message in messages %}
        <p class="error-message">{{ message }}</p>
      {% endfor %}
    </form>

    <p class="register-link">
      <a href="{% url 'registro' %}">¿No tienes cuenta? Regístrate aqui</a>
    </p>
  </div>
</body>
</html>
{% endblock %}