{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Panel de Empleados</h1>
    <a href="{% url 'lista-clientes' %}" style="padding: 10px; background-color: rgba(30, 41, 59, 1); color: white; border-radius: 5px; text-decoration: none;">➕Ver Clientes</a>
    <a href="{% url 'formularioInmueble' %}" style="padding: 10px; background-color: rgba(30, 41, 59, 1); color: white; border-radius: 5px; text-decoration: none;">➕Cargar Inmueble</a>
</body>
</html>
{% endblock %}