{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Este es el Panel de Administrador</h1>
    <div class="d-flex gap-2">
    <a href="{% url 'lista-empleados' %}" style="padding: 10px; background-color: rgba(30, 41, 59, 1); color: white; border-radius: 5px; text-decoration: none;">➕Ver Empleados</a>
    <a href="{% url 'formularioInmueble' %}" style="padding: 10px; background-color: rgba(30, 41, 59, 1); color: white; border-radius: 5px; text-decoration: none;">➕Agregar Inmueble</a>
    </div>
    <br>
    <br>
    
    <a href="{% url 'alta_empleado' %}" style="padding: 10px; background-color: rgba(30, 41, 59, 1); color: white; border-radius: 5px; text-decoration: none;">➕ Dar de alta nuevo empleado</a>
</body>
</html>
{% endblock %}