{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Panel de Administrador</h1>

<style>
    .admin-button {
        display: inline-block;
        padding: 10px;
        background-color: rgba(30, 41, 59, 1);
        color: white;
        border-radius: 5px;
        text-decoration: none;
        margin: 5px 0;
    }

    details {
        margin-bottom: 20px;
    }

    summary {
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
    }
</style>

<details>
    <summary>Empleados</summary>
    <div class="d-flex flex-column">
        <a href="{% url 'lista-empleados' %}" class="admin-button">Ver Empleados</a>
        <a href="{% url 'alta_empleado' %}" class="admin-button">Dar de alta nuevo empleado</a>
    </div>
</details>

<details>
    <summary>Inmuebles</summary>
    <div class="d-flex flex-column">
        <a href="{% url 'formularioInmueble' %}" class="admin-button">Agregar Inmueble</a>
        <a href="{% url 'listado_inmuebles_admin' %}" class="admin-button">Lista de Inmuebles</a>
    </div>
</details>

<details>
    <summary>Clientes</summary>
    <div class="d-flex flex-column">
        <a href="{% url 'lista-clientes' %}" class="admin-button">Ver Clientes</a>
        <a href="/usuarios/alta-manual" class="admin-button">Registrar Usuario</a>
    </div>
</details>

<details>
    <summary>Estadisticas</summary>
    <div class="d-flex flex-column">
        <a href="{% url 'menu-estadisticas' %}" class="admin-button">Ver Menú de Estadisticas</a>
    </div>
</details>

</details>

{% endblock %}

