{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquier Express Inicio</title>
</head>
<body>
   

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
                </li>
            <li>
                <a href="/usuarios/registro">Registro</a>
                '</li>
            
            {% if user.is_authenticated %}
            <li>
                <a href="/usuarios/logout">Cerrar Sesión</a>
                </li>    
            {% else %}
             <li>
                <a href="/usuarios/login">Iniciar Sesión</a>
                '</li>    
            {% endif %}
            
        </ul>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>