{% extends 'base.html' %}
{% block content %}
    <h1>{{ inmueble.nombre }}</h1>
    {% if inmueble.imagen %}
        <img src="{{ inmueble.imagen.url }}" alt="Imagen de {{ inmueble.nombre }}">
    {% endif %}
    <p><strong>Tipo:</strong> {{ inmueble.tipo }}</p>
    <p><strong>Precio:</strong> ${{ inmueble.precio }}</p>
    <p><strong>Dirección:</strong> {{ inmueble.calle }} {{ inmueble.numero }}</p>
    <p><strong>Ciudad:</strong> {{ inmueble.ciudad }}</p>
    <p><strong>Provincia:</strong> {{ inmueble.provincia }}</p>
    <p><strong>Descripción:</strong> {{ inmueble.descripcion }}</p>
    <a href="{% url 'listaInmuebles' %}">← Volver a la lista</a>
    <a href="{% url 'hacer_reserva' inmueble.id %}">
        <button>Realizar reserva</button>
    </a>
    <a href="{% url 'editar_inmueble' inmueble.id %}">
        <button>Editar inmueble</button>
    <a href="{% url 'baja_inmueble' inmueble.id %}">
        <button>Dar de baja inmueble</button>
</a>
{% endblock %}